nav ul {
  display: flex;
  width: 1000%;
}
nav ul li {
  margin: 0 0.7rem;
  cursor: pointer;
}
nav ul li:hover {
  color: #0676c0;
}

nav ul li ul li {
  display: none;
  position: relative;
  top: 0;
  left: 5rem;
  color: white;
}

.nested__nav:hover ul li {
  display: flex;
  flex-direction: column;
}

input[type="text"],
select {
  background: none;
  padding: 0 3rem;
}

.nested__nav li:hover {
  margin: 0;
  border-bottom: 1px solid;
}

.nested__nav li {
  margin: 0;
  padding: 1rem;
}

.nested__nav_ul {
  position: absolute;
}
