input[type="text"] {
  outline: none;
  width: 100%;
  background: none;
  padding: 0.3rem;
  border-bottom: 1px solid;
  margin: 0.7rem 0;
}
input[type="email"] {
  width: 100%;
  outline: none;
  background: none;
  padding: 0.3rem;
  border-bottom: 1px solid;
  margin: 0.7rem 0;
}

input[type="password"] {
  width: 100%;
  outline: none;
  background: none;
  padding: 0.3rem;
  border-bottom: 1px solid;
  margin: 0.7rem 0;
}
input[type="number"] {
  width: 100%;
  outline: none;
  background: none;
  padding: 0.3rem;
  border-bottom: 1px solid;
  margin: 0.7rem 0;
}

option {
  background: #414141;
}
