.signup input[type="text"] {
  outline: none;
  width: 100%;
  background: none;
  padding: 0.3rem;
  border-bottom: 1px solid;
  margin: 0.7rem 0;
}
.signup input[type="email"] {
  width: 100%;
  outline: none;
  background: none;
  padding: 0.3rem;
  border-bottom: 1px solid;
  margin: 0.7rem 0;
}

.signup input[type="password"] {
  width: 100%;
  outline: none;
  background: none;
  padding: 0.3rem;
  border-bottom: 1px solid;
  margin: 0.7rem 0;
}
.signup input[type="number"] {
  width: 100%;
  outline: none;
  background: none;
  padding: 0.3rem;
  border-bottom: 1px solid;
  margin: 0.7rem 0;
}

.signup option {
  background: #414141;
}

.signup .image-upload {
  text-align: center;
  margin: 1rem;
  color: red;
  border: 1px solid;
}

.signup .custom-file-upload {
  display: inline-block;
  padding: 0.7rem 1.5rem;
  background-color: #0084ff;
  color: #da1515;
  border: 1px solid;
  cursor: pointer;
}

.signup #image-preview {
  width: 100%;
  border: 1px solid;
  max-width: 300px;
  max-height: 10rem;
  margin-top: 10px;
  position: absolute;
  background: #000;
}

.signup button {
  margin: 1rem 0;
}

.signup input::file-selector-button {
  width: 100%;
  cursor: pointer;
  background: none;
  border: 1px solid;
  box-shadow: none;
  outline: none;
}
