.btn__ghost {
  min-width: 10rem;
  font-weight: 400;
  font-size: 1.2rem;
  padding: 0.7rem 1rem;
  border-radius: 0.75rem;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 0.75rem;
  -ms-border-radius: 0.75rem;
  -o-border-radius: 0.75rem;
}
.btn {
  font-weight: 600;
  min-width: 10rem;
  font-size: 1.2rem;
  background-image: linear-gradient(to top right, #671ae4, #b75cff);
  padding: 0.7rem 0.7rem;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

.transparent__bg {
  background-image: linear-gradient(to top right, #671ae410, #3e076b17);
}
.onHover:hover {
  border: 1px;
  border-style: solid;
  border-radius: 10%;
  border-image: linear-gradient(to top right, #690cff, #b75cff) 27;
}

.product__btn {
  background-image: linear-gradient(to top right, #671ae4, #b75cff);
  min-width: 75%;
  padding: 0.75rem 1.5rem;
  background-image: linear-gradient(to top right, #671ae4, #b75cff);
  font-size: 1rem;
  font-weight: 600;
}

@media (max-width: 640px) {
  .btn {
    font-weight: 500;
    font-size: 1rem;
    padding: 0.7rem 0.8rem;
  }
  .btn__ghost {
    font-weight: 400;
    font-size: 1rem;
    padding: 0.7rem 0.8rem;
  }
}

.bg {
  background-image: linear-gradient(to right, #181e41, #873d38);
}
