.create_product > .image-upload {
  text-align: center;
  margin: 1rem;
}

input[type="text"] {
  outline: none;
  width: 100%;
  background: none;
  padding: 0.3rem;
  border-bottom: 1px solid;
  margin: 0.7rem 0;
}
 input[type="email"] {
  width: 100%;
  outline: none;
  background: none;
  padding: 0.3rem;
  border-bottom: 1px solid;
  margin: 0.7rem 0;
}
 input[type="number"] {
  width: 100%;
  outline: none;
  background: none;
  padding: 0.3rem;
  border-bottom: 1px solid;
  margin: 0.7rem 0;
}

.create_product > .custom-file-upload {
  display: inline-block;
  padding: 0.7rem 1.5rem;
  background-color: #0084ff;
  color: #fff;
  cursor: pointer;
}
.create_product > #image-preview {
  width: 100%;
  max-width: 500px;
  max-height: 15rem;
  margin-top: 10px;
}
.create_product > button {
  margin: 1rem 0;
}
.create_product > textarea {
  background: none;
  border: 1px solid white;
  margin: 1rem 0;
  min-height: 12rem;
  min-width: 25rem;
  padding: 5px;
}
.create_product > input::file-selector-button {
  width: 100%;
  cursor: pointer;
  height: 2rem;
  background-image: linear-gradient(to top right, #671ae4, #b75cff);
  color: #fff;
  box-shadow: none;
  outline: none;
  border: none;
}
